dist/
tea_agent.egg-info/
__pycache__
build/
.vscode/

dump_*/
*.pdf
*.bak*
test_tmp/
*.db
.*
!.tea_agent/skills/
*.example
*.txt
*.png
tmp/
*.svg
# Android
local.properties

!tea_agent/.tea_agent_run/
*.log
.tea_agent_run/
